<div class="min-h-dvh w-full bg-gray-50 xl:flex xl:flex-row-reverse">
  <div class="flex flex-col xl:w-[50%] xl:justify-center xl:px-25">
    <div class="mb-26 xl:hidden">
      <img src="assets/criancas.png" alt="Kids playing" class="w-full" />
    </div>
    <div class="px-10">
      <h1
        class="text-center text-3xl md:text-5xl text-blue-600 font-montserrat font-bold mb-8 xl:mb-16"
      >
        Bem vindo de volta!
      </h1>
      <div class="mb-8 xl:mb-10">
        <label for="email" class="text-md md:text-[24px]">Email</label>
        <input
          id="email"
          type="email"
          placeholder="email@example.com"
          class="w-full border border-blue-900 rounded-lg py-2 md:py-3 px-4 md:px-6 mb-4 md:mb-6 md:text-2xl xl:text-lg outline-0 text-slate-700"
        />
        <label for="password" class="text-md md:text-[24px]">Senha</label>
        <input
          id="password"
          type="password"
          placeholder="password123!@"
          class="w-full border border-blue-900 rounded-lg py-2 md:py-3 px-4 md:px-6 mb-4 md:mb-6 md:text-2xl xl:text-lg outline-0 text-slate-700"
        />
        <div class="flex justify-between items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full mr-1"
              for="ripple-on"
            >
              <input
                id="ripple-on"
                type="checkbox"
                class="peer relative h-5 md:h-6 xl:h-5 w-5 md:w-6 xl:w-5 cursor-pointer appearance-none rounded border border-slate-400 shadow hover:shadow-md transition-all checked:border-slate-800 checked:bg-slate-800"
              />
              <span
                class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
            <label
              class="cursor-pointer text-slate-600 hover:text-slate-800 text-sm md:text-2xl xl:text-lg select-none"
              for="ripple-on"
              >Lembrar de mim</label
            >
          </div>
          <div>
            <a
              class="text-end text-slate-600 hover:text-slate-800 active:text-slate-800 active:underline hover:underline text-sm md:text-2xl xl:text-lg cursor-pointer select-none"
              >Esqueci minha senha</a
            >
          </div>
        </div>
      </div>
      <button
        class="w-full py-2 md:py-3 bg-blue-600 active:bg-blue-700 hover:bg-blue-700 transition-all delay-[20] rounded-lg text-white md:text-2xl xl:text-lg font-montserrat font-bold cursor-pointer mb-2"
      >
        Entrar
      </button>
      <div class="text-center text-sm md:text-xl text-slate-500 select-none">
        Ainda não tem uma conta?
        <b
          routerLink="/register"
          class="cursor-pointer text-blue-600 active:text-blue-700 hover:text-blue-800"
          >Cadastre-se!</b
        >
      </div>
    </div>
  </div>

  <div
    class="hidden xl:w-[50%] bg-blue-600 xl:flex xl:flex-col items-center p-25"
  >
    <div class="max-w-130">
      <img src="assets/criancas2.png" alt="Kids playing 2" class="w-full" />
    </div>
    <div>
      <p class="text-start text-4xl font-montserrat text-white font-bold mb-2">
        Cuidando de quem mais importa, com organização e carinho.
      </p>
      <p class="text-start text-xl text-slate-200 font-light">
        Transforme a gestão da sua creche em um processo simples, seguro e
        eficiente. Acompanhe alunos, turmas e presença em um só lugar, com
        praticidade e tranquilidade para que sua equipe possa focar no que
        realmente faz diferença: o desenvolvimento e o bem-estar das crianças.
      </p>
    </div>
  </div>
</div>
