<div
  class="relative min-h-screen w-full bg-white xl:bg-gray-100 xl:flex xl:items-center xl:justify-center overflow-hidden"
>
  <div
    class="hidden xl:block absolute inset-0 bg-[url('/assets/criancas3.png')] bg-cover bg-center blur-xl scale-110"
  ></div>
  <div class="hidden xl:block absolute inset-0 bg-black/40"></div>

  <div
    class="relative z-10 w-full xl:max-w-6xl xl:flex xl:rounded-3xl xl:shadow-2xl xl:overflow-hidden mx-auto"
  >
    <div class="xl:hidden w-full">
      <img src="assets/criancas.png" class="w-full h-64 object-cover" />
    </div>

    <div
      class="w-full bg-gray-50 xl:w-1/2 flex items-center justify-center p-6 px-10 xl:p-20"
    >
      <form
        #form="ngForm"
        (ngSubmit)="submit(form)"
        class="w-full max-w-md space-y-6 mt-10 xl:mt-5"
      >
        <h1
          class="text-3xl md:text-4xl font-bold bg-linear-to-r from-blue-700 to-indigo-800 bg-clip-text text-transparent text-center"
        >
          Vamos começar?
        </h1>

        <div class="relative">
          <label class="block mb-2 text-sm font-medium text-slate-700">
            Nome
          </label>

          <input
            type="text"
            name="username"
            [(ngModel)]="request.username"
            #username="ngModel"
            required
            placeholder="Seu nome"
            class="w-full border border-indigo-300 rounded-xl py-3 px-4 shadow-sm focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200 outline-none transition"
          />

          <span class="absolute right-2 top-full mt-1 text-red-500 text-xs">
            {{
              form.submitted && username.invalid
                ? "Nome obrigatório"
                : getFieldError("username")
            }}
          </span>
        </div>

        <div class="relative">
          <label class="block mb-2 text-sm font-medium text-slate-700">
            Email
          </label>

          <input
            type="email"
            name="email"
            [(ngModel)]="request.email"
            #email="ngModel"
            required
            email
            placeholder="email@example.com"
            class="w-full border border-indigo-300 rounded-xl py-3 px-4 shadow-sm focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200 outline-none transition"
          />

          <span class="absolute right-2 top-full mt-1 text-red-500 text-xs">
            {{
              form.submitted && email.errors?.["required"]
                ? "Email obrigatório"
                : form.submitted && email.errors?.["email"]
                  ? "Email inválido"
                  : getFieldError("email")
            }}
          </span>
        </div>

        <div class="relative">
          <label class="block mb-2 text-sm font-medium text-slate-700">
            Senha
          </label>

          <input
            type="password"
            name="password"
            [(ngModel)]="request.password"
            #password="ngModel"
            required
            minlength="8"
            maxlength="24"
            placeholder="••••••••••••••••"
            class="w-full border border-indigo-300 rounded-xl py-3 px-4 shadow-sm focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200 outline-none transition"
          />

          <span class="absolute right-2 top-full mt-1 text-red-500 text-xs">
            {{
              form.submitted && password.errors?.["required"]
                ? "Senha obrigatória"
                : form.submitted &&
                    (password.errors?.["minlength"] ||
                      password.errors?.["maxlength"])
                  ? "8-24 caracteres"
                  : getFieldError("password")
            }}
          </span>
        </div>

        <div class="flex items-center relative">
          <label
            class="relative flex cursor-pointer items-center rounded-full mr-1"
            for="ripple-on"
          >
            <input
              id="ripple-on"
              type="checkbox"
              name="keepalive"
              [(ngModel)]="request.keepalive"
              class="peer relative h-5 md:h-6 xl:h-4 w-5 md:w-6 xl:w-4 cursor-pointer appearance-none rounded border border-slate-400 shadow hover:shadow-md transition-all checked:border-slate-800 checked:bg-slate-800"
            />
            <span
              class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-3.5 w-3.5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </span>
          </label>

          <label
            class="cursor-pointer text-slate-600 hover:text-slate-800 text-sm md:text-2xl xl:text-sm select-none"
            for="ripple-on"
          >
            Lembrar de mim
          </label>
        </div>

        <button
          type="submit"
          class="w-full bg-linear-to-r from-indigo-600 to-blue-700 text-white px-6 py-3 rounded-xl font-semibold shadow-md hover:shadow-lg hover:scale-[1.03] transition cursor-pointer"
        >
          {{ isLoading ? "Carregando..." : "Cadastrar-se" }}
        </button>

        <p class="text-center text-sm text-slate-500">
          Já possui uma conta?
          <b
            routerLink="/login"
            class="text-indigo-700 hover:underline cursor-pointer"
          >
            Entrar
          </b>
        </p>
      </form>
    </div>

    <div
      class="hidden xl:flex xl:w-1/2 flex-col items-center justify-center p-20 bg-linear-to-br from-blue-700 via-blue-800 to-indigo-900 text-white"
    >
      <div class="max-w-md text-center">
        <img src="assets/criancas2.png" class="w-full mb-10" />
        <h2 class="text-3xl font-bold mb-4">Cuidando de quem mais importa.</h2>
        <p class="text-slate-200">
          Transforme a gestão da sua creche em um processo simples, seguro e
          eficiente.
        </p>
      </div>
    </div>
  </div>
</div>

<app-toast [message]="toastMessage" [type]="toastType" [trigger]="toastTrigger">
</app-toast>
