<aside
  class="font-poppins sticky top-0 h-screen max-h-screen border-r-slate-300 shadow-lg flex flex-col transition-all duration-300"
  [ngClass]="sidebarOpened ? 'w-70 md:w-80' : 'w-20 items-center'"
>
  <header
    class="flex items-center border-b border-slate-400 pt-3 pb-3 w-full"
    [ngClass]="sidebarOpened ? 'justify-between px-4' : 'justify-center px-2'"
  >
    <div
      class="overflow-hidden transition-all duration-200"
      [class.opacity-0]="!sidebarOpened"
      [class.w-0]="!sidebarOpened"
    >
      <h2 class="truncate text-xl md:text-2xl font-semibold text-indigo-700">
        {{ user.Username }}
      </h2>
      <p class="truncate text-sm md:text-lg text-gray-400 font-light">
        {{ user.Email }}
      </p>
    </div>

    <button class="cursor-pointer" (click)="sidebarOpened = !sidebarOpened">
      <lucide-icon
        [name]="sidebarOpened ? closeIcon : textAlignJustifyIcon"
        size="32px"
      />
    </button>
  </header>

  <div
    class="flex flex-col flex-1 pt-6 pb-3 w-full"
    [ngClass]="sidebarOpened ? 'px-4' : 'px-0 items-center'"
  >
    <ul
      class="flex flex-col w-full"
      [ngClass]="sidebarOpened ? 'gap-6' : 'gap-5 items-center'"
    >
      <div class="w-full">
        <p
          class="uppercase text-gray-400 mb-3 font-semibold text-sm transition-all duration-200 overflow-hidden"
          [class.hidden]="!sidebarOpened"
        >
          Gestão
        </p>

        <div
          class="flex flex-col"
          [ngClass]="sidebarOpened ? 'gap-2' : 'gap-4 items-center'"
        >
          <a
            routerLink="/creches"
            routerLinkActive="bg-gradient-to-r from-blue-700 to-indigo-800 shadow-lg text-white"
            class="flex items-center rounded-md text-gray-600 hover:text-white hover:bg-linear-to-r hover:from-blue-700 hover:to-indigo-800 hover:shadow-lg transition"
            [ngClass]="
              sidebarOpened
                ? 'gap-3 w-full p-3 justify-start'
                : 'justify-center w-12 h-12'
            "
          >
            <lucide-icon [name]="schoolIcon"></lucide-icon>
            <span
              class="transition-all duration-200 whitespace-nowrap"
              [class.hidden]="!sidebarOpened"
            >
              Minhas Creches
            </span>
          </a>

          <a
            routerLink="/dashboard"
            routerLinkActive="bg-gradient-to-r from-blue-700 to-indigo-800 shadow-lg text-white"
            class="flex items-center rounded-md text-gray-600 hover:text-white hover:bg-linear-to-r hover:from-blue-700 hover:to-indigo-800 hover:shadow-lg transition"
            [ngClass]="
              sidebarOpened
                ? 'gap-3 w-full p-3 justify-start'
                : 'justify-center w-12 h-12'
            "
            [class.pointer-events-none]="!selectedCreche"
            [class.opacity-40]="!selectedCreche"
          >
            <lucide-icon [name]="layoutDashboardIcon"></lucide-icon>
            <span
              class="transition-all duration-200 whitespace-nowrap"
              [class.hidden]="!sidebarOpened"
            >
              Visão Geral
            </span>
          </a>

          <a
            routerLink="/dashboard"
            routerLinkActive="bg-gradient-to-r from-blue-700 to-indigo-800 shadow-lg text-white"
            class="flex items-center rounded-md text-gray-600 hover:text-white hover:bg-linear-to-r hover:from-blue-700 hover:to-indigo-800 hover:shadow-lg transition"
            [ngClass]="
              sidebarOpened
                ? 'gap-3 w-full p-3 justify-start'
                : 'justify-center w-12 h-12'
            "
            [class.pointer-events-none]="!selectedCreche"
            [class.opacity-40]="!selectedCreche"
          >
            <lucide-icon [name]="schoolIcon"></lucide-icon>
            <span
              class="transition-all duration-200 whitespace-nowrap"
              [class.hidden]="!sidebarOpened"
            >
              Salas de aula
            </span>
          </a>

          <a
            routerLink="/dashboard"
            routerLinkActive="bg-gradient-to-r from-blue-700 to-indigo-800 shadow-lg text-white"
            class="flex items-center rounded-md text-gray-600 hover:text-white hover:bg-linear-to-r hover:from-blue-700 hover:to-indigo-800 hover:shadow-lg transition"
            [ngClass]="
              sidebarOpened
                ? 'gap-3 w-full p-3 justify-start'
                : 'justify-center w-12 h-12'
            "
            [class.pointer-events-none]="!selectedCreche"
            [class.opacity-40]="!selectedCreche"
          >
            <lucide-icon [name]="usersIcon"></lucide-icon>
            <span
              class="transition-all duration-200 whitespace-nowrap"
              [class.hidden]="!sidebarOpened"
            >
              Alunos
            </span>
          </a>
        </div>
      </div>

      <div class="w-full">
        <p
          class="uppercase text-gray-400 mb-3 font-semibold text-sm transition-all duration-200 overflow-hidden"
          [class.hidden]="!sidebarOpened"
        >
          Controle
        </p>

        <div
          class="flex flex-col"
          [ngClass]="sidebarOpened ? 'gap-2' : 'gap-4 items-center'"
        >
          <a
            routerLink="/dashboard"
            routerLinkActive="bg-gradient-to-r from-blue-700 to-indigo-800 shadow-lg text-white"
            class="flex items-center rounded-md text-gray-600 hover:text-white hover:bg-linear-to-r hover:from-blue-700 hover:to-indigo-800 hover:shadow-lg transition"
            [ngClass]="
              sidebarOpened
                ? 'gap-3 w-full p-3 justify-start'
                : 'justify-center w-12 h-12'
            "
            [class.pointer-events-none]="!selectedCreche"
            [class.opacity-40]="!selectedCreche"
          >
            <lucide-icon [name]="calendarIcon"></lucide-icon>
            <span
              class="transition-all duration-200 whitespace-nowrap"
              [class.hidden]="!sidebarOpened"
            >
              Frequência
            </span>
          </a>

          <a
            routerLink="/dashboard"
            routerLinkActive="bg-gradient-to-r from-blue-700 to-indigo-800 shadow-lg text-white"
            class="flex items-center rounded-md text-gray-600 hover:text-white hover:bg-linear-to-r hover:from-blue-700 hover:to-indigo-800 hover:shadow-lg transition"
            [ngClass]="
              sidebarOpened
                ? 'gap-3 w-full p-3 justify-start'
                : 'justify-center w-12 h-12'
            "
            [class.pointer-events-none]="!selectedCreche"
            [class.opacity-40]="!selectedCreche"
          >
            <lucide-icon [name]="walletIcon"></lucide-icon>
            <span
              class="transition-all duration-200 whitespace-nowrap"
              [class.hidden]="!sidebarOpened"
            >
              Financeiro
            </span>
          </a>
        </div>
      </div>
    </ul>
  </div>

  <div
    class="flex border-t border-slate-400 pt-4 pb-3 w-full"
    [ngClass]="sidebarOpened ? 'px-4' : 'justify-center'"
  >
    <button
      class="rounded-xl text-white font-semibold bg-linear-to-r from-blue-700 to-indigo-800 hover:from-blue-800 hover:to-indigo-900 shadow-lg hover:shadow-xl transition flex items-center justify-center gap-2"
      [ngClass]="sidebarOpened ? 'w-full py-3' : 'w-12 h-12'"
    >
      <lucide-icon [name]="logoutIcon"></lucide-icon>
      <span [class.hidden]="!sidebarOpened">Logout</span>
    </button>
  </div>
</aside>
