<nav
  class="md:hidden fixed bottom-0 left-0 w-full bg-white border-t border-slate-200 z-50"
>
  <div class="relative flex items-center justify-between px-4 h-16">
    <a
      [routerLink]="['/creches']"
      [ngClass]="{
        'text-indigo-600': !selectedCreche && routeUrl === '/creches',
      }"
      class="flex flex-col items-center justify-center text-slate-500 text-xs w-16"
    >
      <lucide-icon [name]="schoolIcon" size="20"></lucide-icon>
      <span>Creches</span>
    </a>

    <a
      [routerLink]="['/creches', crecheIdentifier, 'dashboard']"
      [class.opacity-50]="!selectedCreche"
      [class.pointer-events-none]="!selectedCreche"
      routerLinkActive="text-indigo-600"
      class="flex flex-col items-center justify-center text-slate-500 text-xs w-16"
    >
      <lucide-icon [name]="layoutDashboardIcon" size="20"></lucide-icon>
      <span>Home</span>
    </a>

    <a
      [routerLink]="['/creches', crecheIdentifier, 'classrooms']"
      [class.opacity-50]="!selectedCreche"
      [class.pointer-events-none]="!selectedCreche"
      routerLinkActive="text-indigo-600"
      class="flex flex-col items-center justify-center text-slate-500 text-xs w-16"
    >
      <lucide-icon [name]="schoolIcon" size="20"></lucide-icon>
      <span>Salas</span>
    </a>

    <a
      [routerLink]="['/creches', crecheIdentifier, 'students']"
      [class.opacity-50]="!selectedCreche"
      [class.pointer-events-none]="!selectedCreche"
      routerLinkActive="text-indigo-600"
      class="flex flex-col items-center justify-center text-slate-500 text-xs w-16"
    >
      <lucide-icon [name]="usersIcon" size="20"></lucide-icon>
      <span>Alunos</span>
    </a>

    <a
      [routerLink]="['/creches', crecheIdentifier, 'attendances']"
      [class.opacity-50]="!selectedCreche"
      [class.pointer-events-none]="!selectedCreche"
      routerLinkActive="text-indigo-600"
      class="flex flex-col items-center justify-center text-slate-500 text-xs w-16"
    >
      <lucide-icon [name]="calendarIcon" size="20"></lucide-icon>
      <span>Frequência</span>
    </a>
  </div>
</nav>
